/* Portfolio styling */

header {
  padding: 0 10px;
  overflow: hidden;
}

h2 {
  margin: 0;
}

.content {
  padding: 10px;
}

.matrix ul {
 
  height: relative;
}


ul.entries {

  list-style-type: none;
   width: 100%;


}

ul.entries li {

  width: 25%;
  height: 80px;
  padding:20px;
  background: #ececec;

  /* position: relative;
  margin: 20px auto;
  width: 600px; */

}

ul.entries img {

  width: 200px;
  height: 200px;

  /* width: 600px; */

}

ul.entries {
  list-style-type: none;
}

ul.entries li a {
  float: left;
  margin: 5px;
}

ul.entries li h3 {
  position: absolute;
  bottom: -18px;
  left: 17px;
  font-size: 2em;
}

ul.entries a {
  color: #ececec;
}
ul.entries a:hover {
  color: #fff;

}

/* 12 column grid framework with added positioning rules */

.box {

height: relative;
overflow: hidden;
padding: 10px 0 10px 10px;

}


[class*='col-'] {
  float: left;
}

.col-12 {

	width: 100%;
}

.col-9 {
	width: 75%;

}

.col-8 {
	width: 66.67%;
}

.col-6 {
  width: 50%;
}

.col-4 {
	width: 33.33%;
}

.col-3 {

  width: 25%;

}

.col-2 {
  width: 25%;
}

.col-1 {
  width: 12.5%;
}

/* clear grid */

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

/* Outside gutters -- experimenting */

.border {
  padding: 20px 0 20px 20px;
}
 
}

.border > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* Novel Styles outside grid system */

.centered {

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:; /* height of object */ 
  margin-left:; /* width of object */ 

}




