@import url(base.css);
@import url(grid.css);
@import url(font.css);


/* Portfolio page (grid) */

.port-wrapper {

  width: 100%;
  padding-left: 150px;
}

.entries {

  padding-left: 100px;
}

h2 {
  margin: 0;
}

.matrix ul {
 
  height: relative;
}


ul.entries {

  list-style-type: none;
  margin: 0 auto;



}

ul.entries li {

  width: 25%;
  height: 80px;
  padding:20px;
  background: #ececec;

  /* position: relative;
  margin: 20px auto;
  width: 600px; */

}

ul.entries img {

  width: 200px;
  height: 200px;

}

}

ul.entries {
  list-style-type: none;
}

ul.entries li a {
  float: left;
  margin: 5px;
}


ul.entries a {
  color: #ececec;
}
ul.entries a:hover {
  color: #fff;

}

/* Portfolio & blog entry (individual) */

.wrapper: {

  width: 100%;
}

.content-header {

  width: 70%;
  background-color: yellow;
  margin: 0 auto;

}

.content-entry {

  width: 70%;
  background-color: white;
  margin: 0 auto;


}

h2.title { padding-left: 250px;}

.content-entry img {

 height: 200px;
 width: 200px;
 margin: 0 auto;
}

/* article .content {

  display: block;
  width: 66%;
  margin: 0 auto;

}

.content-entry {

  display: block;
  width: 66%;
  margin: 0 auto;

} 
*/

.content {
  padding: 40px;
}




/* Blog */

article h2 {

 padding-left: 180px;


}

.blog-wrapper {

  width: 90%;
  margin: 0 auto;
  height: relative;
  display: inline-block;
  padding: 20px 0 20px 50px;
  padding-left: 100px;
}

section .banner {

  width: 80%;
  margin: 0 auto;
  background-color: orange;
}

.banner h1 {

  font-size: 24px;
  color: black;

}

ol.posts li img{

margin-bottom: 24px;

}

ol.posts {

  width: 66%;
}

#featured {

  background: #fff; 
  margin-bottom: 2em; 
  overflow: hidden; 
  padding: 20px; width: 760px;  
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
}

#featured figure { 

  border: 2px solid #eee; 
  float: right; 
  margin: 0.786em 2em 0 5em;  

  } 

#featured figure img {

    display: block; 
    float: right;}  

#featured h2 {

      color: #C74451; 
      font-size: 1.714em; 
      margin-bottom: 0.333em;

      } 
#featured h3 {

  font-size: 1.429em; 
  margin-bottom: .5em;}  

#featured h3 a:link, #featured h3 a:visited {

  color: #000305; 
  text-decoration: none;

  } 

#featured h3 a:hover, #featured h3 a:active {

  color: #fff;
}

.sidebar {

  display: inline-block;
  clear: both;

}

.extras {

}

/* Portfolio */


.posts { display: inline-block;}

.posts li { margin-bottom: 24px}

.posts li a { }


/* Blog */

.box-centered { 

  width: 100%;
  
  background-color:;

}


.thumb-post { 

  float: left;

  }

.thumb-post img: {

  display: block;

}

.post-content {

  margin: 16px 0 24px 90px;

} 

.post-date h5 {

line-height: 1em;

}

.post h2 {

  line-height: 1.3em;
}

ul.posts {

  list-style: none;
}

/* Porfolio Section */


.portfolio {
  
  background-color: transparent;
  width: 100%;
  height: relative;
  padding: 25px;
  overflow: hidden;
}


ul.entries { 

  padding: 0;
  list-style: none;
  margin: 20px auto 0;
  width: 1000px;

  }

.entries li {

  float: left;
  padding: 0;
  border: 5px;
  margin: 0 5px 200px 5px;
}

.entries li { 

  display: block;
  height: 200px;
}

.entries li img {

  background-color: white;
  clear: both;
 
}

.entries li a:hover img {

  opacity:0.3; 
  filter:alpha(opacity=30);
}

ul.block {

  display: inline-block;
  margin-left: 20px;
  
}

.block h4 {

   font-family: "chapparal pro", Arial, Helvetica;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: 16px;
}

ul.block p {

  font-family: "chapparal pro", Arial, Helvetica;
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 10px;

}

.block:last-child { 

  margin-bottom: 16px

}

/* Home Page */

.homepage {}

.marquee {

  width: 100%;
  height: relative;
  display: inline-block;
}

.marquee h1 { 

  color: black;
  line-height: 1.4em;

  }

.marquee h1:after {
  padding-bottom: 2.0em;
}

.main {

  float: left;
  padding-top: 50px;
  padding-left: 100px;
  width: 60%;
  height: ;

}

.main h2 {

  line-height: 2.4em;
  font-weight: bold;
  padding-left: 150px;
}

.call {

  clear: both;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 138, 1, 0.6);

}

.call h2 {

  margin: 0 auto;
  padding: 5px 0px 12px 50px;
}

.call h2 a {

  margin-left: 150px;
}


.call li p {width: 300px;}

.sidebar img {
  
  position: fixed;
  right: -50px;
  top: 60px;
  bottom: 10px;
  z-index: -1;
}

.imgBox {

margin-left: 30px;
margin-top: 250px;
width: 180px;
height: 180px;
background-image: url('/img/simple-badge.png');
background-repeat: no-repeat;

}

.imgText {

  text-align: center;
  margin: 0;
  padding: 25px 0 0 0 ;
}

p.imgText {

  color: black;
  font-family: 'chapparal pro', Arial;
  font-size: 20px;
}

.jumbo { 

  background-color: rgba(1, 1, 1, 0.8);
  height: 500px;
  text-align: inline-block;
  }



/* About page */

.page { 

  background-color: rgba(1, 1, 1, 0.8);
  height: 750px;
  text-align: inline-block;
  }

.top h1 {

color: orange;
font-size: 24px;
line-height: 1.5em;
margin-bottom: 24px;
}

.top h2 {

color: white;
font-size: 20px;
line-height: 1.5em;
margin-bottom: 24px;
}

.top p {

  padding: 0 50px;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
  text-transform: normal;
}

/* Profile Image  */

.imgBio {

}

/* Services Section */

.block {

  display: inline-block;
  width: 90%;
  background-color: #9999;
  margin-left: 100px;
  padding-left: 20px;
  margin-right: 48px;
  float:left;
}

.block-container {

  padding-left: 20px;
  height: relative;
  width: 100%;
  overflow: hidden;
  background-color: default;
  padding-top: 24px;
}

.block-container > p {

  font-size: 18px;
  margin-left: 10px;
}

.box-fill {display:hidden;
      width: 25%;}

.container-fluid {
  width: 100%;
  display: inline-block;
  background-color: transparent;

}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
  

/* Grouping */

.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

/* Featured News Section */

.module {
background-color: gray;

}

.feature {
  background-color: white;
  padding: 20px;
  height: relative;
  overflow: hidden;
}

.feature img {
  margin-right: 20px;
  margin-top: 10px;
}

.feature img, .feature h3 {
  float: left;
}

.feature p { 

  margin: 0 auto;
  overflow: hidden;

}

.shadow {
  position: relative;
}

.shadow:before, .shadow:after {

  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.shadow:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


.object img {

  border: 2px solid black;
}




/* Footer */

footer  {

  background-color: #010326; /* navy blue */

}

footer .box {

  padding-left: 40px;
}


.contact p {
  font-size: 16px;
  line-height: 1.4em;
  color: white;
}

/*Social Icons */


ul.social {

  display: inline-block;

}

ul.social li {

float: left;
margin-right: 2px;

}

/* Copyright and small print */

.small-print {

  position: bottom; }

section .small-print {

  display: inline;

}

.small-print p {
  
  color: gray;
  font-size: 14px;
  margin: 0 auto;

}
/* BLOG POST LAYOUT */


#post {

  width: 100%;
  display: inline-block;

}

.post-layout p {

  line-height: 1.4em;
  font: 16px;
  font-family: sans-serif;

}

.content-container {

  margin: 0 auto;
  width: 70%;
}

.content-container p {

  font-size: 18px;
}


/* NAVIGATION  */


nav {

  width: 100%;
  position: fixed;
  display: inline-block;
  top: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(1, 1, 1, 0.8);
  /* Navbar shadows shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;

  }


nav ul {
  
  list-style: none;
  overflow: hidden;
  background: transparent;
  margin-top: 1px;
}

nav ul ul {

  display: none;
}

nav ul li:hover > ul {

  display: block;

}

nav ul li {
  
  display: inline-block;
  }

 
nav li a {
  
  margin-right: 20px;
  text-transform: lowercase;
  font-family:'Open Sans', Helvetica, Arial, sans-serif; /* pick a font */
}

nav li a

nav a:link { color: white; }
nav a:visited { color: yellow; }
nav a:hover { color: white; }
nav a:active { color: orange; }

}

/* nav > li > a transitions ease-in .4s */

nav li:first-child a {

  font: 2em/1.0 bold;
  font-family: 'Lobster';
  margin-left: 10px;

  } 

nav li:nth-child(2) a { margin-left: 200px; }
nav li:last-child a { border: none; }

/* link transition - debug */


/* Contact Form */

/* Contact Form */

#contact-form {
  background-color:#F2F7F9;
  width:465px;
  padding:20px;
  margin: 50px auto;  
  border: 6px solid #8FB5C1;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  position:relative;
}

#contact-form h1 {
  font-size:42px;
}

#contact-form h2 {
  margin-bottom:15px;
  font-style:italic;
  font-weight:normal;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
  font-size:15px;
  margin-bottom:2px;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
  width:450px;
  border: 1px solid #CEE1E8;
  margin-bottom:20px;
  padding:4px;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
  border: 1px solid #AFCDD8;
  background-color: #EBF2F4;
}

#contact-form textarea {
  height:150px;
  resize: none;
}

#contact-form label {
  display:block;
}

#contact-form .required {
  font-weight:bold;
  color:#F00; 
}

#contact-form #submit-button {
  width: 100px;
  background-color:#333;
  color:#FFF;
  border:none;
  display:block;
  float:right;
  margin-bottom:0px;
  margin-right:6px;
  background-color:#8FB5C1;
  -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
  background-color: #A6CFDD;
}

#contact-form #submit-button:active {
  position:relative;
  top:1px;
}

#contact-form #loading {
  width:32px;
  height:32px;
  background-image:url(../img/loading.gif);
  display:block;
  position:absolute;
  right:130px;
  bottom:16px;
  display:none;
}

#errors {
  border:solid 1px #E58E8E;
  padding:10px;
  margin:25px 0px;
  display:block;
  width:437px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
  display:none;
}

#errors li {
  padding:2px;
  list-style:none;  
}

#errors li:before {
  content: ' - '; 
}

#errors #info {
  font-weight:bold;
}

#errors #info:before {
  content: '';  
}

#success {
  border:solid 1px #83D186;
  padding:25px 10px;
  margin:25px 0px;
  display:block;
  width:437px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
  font-weight:bold;
  display:none;
}

#errors.visible, #success.visible {
  display:block;  
}

#req-field-desc {
  font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
  color:#CCC;
  font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#CCC;
  font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
  color:#CCC;
  font-style:italic;
}




.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

