@import url(base.css);
@import url(grid.css);
@import url(font.css);

.imgContainer h1 {

  text-align: center;
  padding-top: 20px;
}

#about {

  background-image: url('/img/low_contrast_linen.png');
}

.para span {

  color: orange;
  font-weight: bold;
}

h1.title-light {

  color: orange;
}

/* Portfolio */

.wrapper {

  margin-top: 15px;
}

.posts { display: inline-block;}

.posts li { margin-bottom: 24px}

.port-wrapper {

  width: 100%;
  padding-left: 150px;
  background-color: rgba(1, 1, 1, 0.8);
}

.entries {

  padding-left: 100px;
}

.portfolio h1{
  margin: 0;
  color: #fff;
}

.matrix ul {
 
  height: relative;
}

ul.entries {

  list-style-type: none;
  margin: 0 auto;
}

ul.entries li {
  width: 200px;
  height: 10px;
  padding:;
  background: #ececec;
}


ul.entries img {
  width: 200px;
  height: 200px;

}


ul.entries {
  list-style-type: none;
}

ul.entries li a {
  float: left;
  margin: 0px;
}


ul.entries a {
  color: #ececec;
}
ul.entries a:hover {
  color: #fff;

}

/* Portfolio & blog entry (individual) */

article p {

  font-size: 16px;
  font-family: 'Libre Baskerville';
  color: black;
}
.wrapper: {

  width: 100%
}

.content-header {

  width: 70%;
  background-color: yellow;
  margin: 0 auto;

}

.contentFrame {

  width: 80%;
  background-color: rgba(79, 101, 107, 0.2);
  margin: 0 auto;
  height: 100%;

}

.porfolioContentContainer {

  width: 80%;
  background-color: rgba(79, 101, 107, 0.4);
  margin: 0 auto;
  margin-bottom: 100px;
  height: 80%;
}

h2.title { 

  padding-left: 0px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 24px;
}

.contentFrame img {

 height: 200px;
 width: 200px;
 margin: 0 auto;
 padding: 20px;


}

.content {
  padding: 40px;
}


/* Blog */

article h2 {

 padding-left: 180px;

}


.blog-wrapper {

  width: 90%;
  margin: 0 auto;
  height: 500px;
  background-color: white;
}

.inner-container {

  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #cfd4d6;
}

.banner h1 {

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;

}

ol.posts li img{

margin-bottom: 24px;

}

ol.posts {

  width: 66%;
}


#featured {

  background-color: rgba(79, 101, 107, 0.1); 
  margin-bottom: 2em; 
  overflow: hidden; 
  padding: 20px; 
  width: 500px;
  margin-right: 50px;  

}

#featured, .bookmarks h3 {

      color: #3f6e98; 
      font-size: 16px; 
      margin-bottom: 0.333em;
      margin-top: .5em;

      } 


.bookmarks a:link, .bookmarks a:visited {

  color: #000305; 
  text-decoration: none;

  } 

.bookmarks a:hover, .bookmarks a:active {

  color: #999;
}

.sidebar {

  display: inline-block;
  clear: both;

}

.bookmarks a {

  font-family: Arial;
  font-size: 14px;

}


/* Blog */

.box-centered { 

  width: 100%;
  
  background-color:;

}



.post-content {

  margin: 16px 0 24px 90px;

} 

.post-date h5 {

line-height: 1em;

}

.post h2 {

  line-height: 1.3em;
}

ul.posts {

  list-style: none;
}

/* Porfolio Section */


.portfolio {
  
  background-color: transparent;
  width: 100%;
  height: relative;
  padding: 25px;
  overflow: hidden;
}


ul.entries { 

  padding: 0;
  list-style: none;
  margin: 20px auto 0;
  width: 1000px;

  }

.entries li {

  float: left;
  padding: 0;
  border: 5px;
  margin: 0 5px 200px 5px;
}

.entries li { 

  display: block;
  height: 200px;
}

.entries li img {

  background-color: white;
  clear: both;
 
}

.entries li a:hover img {

  opacity:0.3; 
  filter:alpha(opacity=30);
}

ul.block {

  display: inline-block;
  margin-left: 20px;
  
}

.block h4 {

   font-family: "chapparal pro", Arial, Helvetica;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: 16px;
}

ul.block p {

  font-family: "chapparal pro", Arial, Helvetica;
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 10px;

}

.block:last-child { 

  margin-bottom: 16px

}

/* Home Page */

.marquee {

  width: 100%;
  height: 460px;
  display: inline-block;
}

.marquee h1 { 

  color: black;
  line-height: 1.4em;
  margin-bottom: 2em;

  }

.main {

  float: left;
  padding-top: 50px;
  padding-left: 100px;
  width: 60%;
 

}

.main h2 {

  line-height: 2.4em;
  font-weight: bold;
  padding-left: 150px;
}

.tagline {

font-size: 24px;

}

.paragraphTop {

  font-size: 16px;
  font-weight: bold;
  padding-right: 100px;
}


.call {

  clear: both;
  width: 100%;
  height: 42px;
  background-color: rgba(1, 1, 1, 0.6);

}

.call h2 {

  text-align: center;
  color: white;
}

.call h2 a {

  margin-left: 150px;
}


.call li p {width: 300px;}

.sidebar img {
  
  position: fixed;
  right: -50px;
  top: 60px;
  bottom: 10px;
  z-index: -1;
}

.imgBox {

position: absolute;
top: 300px;
left: 700px;

}

.imgContainer {

height: 500px;
width: 100%;
text-align: inline-block;
background-image: url('/img/low_contrast_linen.png');
}

.caption p {

font-size: 14px;
color: white;
font-family: 'Open Sans', sans-serif;
}

.jumbo { 

padding: 50px;

}

.jumbo ul a {

  padding-right: 15px;
}
/* About page */

.page { 

  background-color: rgba(1, 1, 1, 0.8);
  height: relative;
  text-align: inline-block;
  width: 100%;
  }

.top {

  padding: 0 50px;
}

.top h1 {

color: orange;
font-size: 24px;
line-height: 1.5em;
margin-bottom: 24px;
}

.top h2 {

color: white;
font-size: 20px;
line-height: 1.5em;
margin-bottom: 24px;
}

.top p {

  padding: 0 50px;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
  text-transform: normal;
}


/* Services Section */

.block {

  display: inline-block;
  width: 90%;
  background-color: #9999;
  margin-left: 100px;
  padding-left: 20px;
  margin-right: 48px;
  float:left;
}

.block-container {

  padding-left: 20px;
  height: relative;
  width: 100%;
  overflow: hidden;
  background-color: default;
  padding-top: 24px;
}

.block-container > p {

  font-size: 18px;
  margin-left: 10px;
}

.box-fill {display:hidden;
      width: 25%;}

.container-fluid {
  width: 100%;
  display: inline-block;
  background-color: transparent;

}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/* Footer */


footer  {

   background-color: rgba(1, 1, 1, 0.9);
   height: 100px;
   padding-top: 10px;
}

footer p {

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-left: 20px;;
  color: #888;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

footer a:link {
  text-decoration: none; 
  border-bottom: 1px dashed white;
  font-weight: bold;
}

.copyright {
  text-align: center;
  padding-bottom: 10px;
}


/* BLOG POST LAYOUT */


#post {

  width: 100%;
  display: inline-block;

}

.post-layout p {

  line-height: 1.4em;
  font: 16px;
  font-family: sans-serif;

}

.content-container {

  margin: 0 auto;
  width: 70%;
}


/* NAVIGATION  */


nav {

  width: 100%;
  position: fixed;
  display: inline-block;
  top: 1px;
  z-index: 2;
  height: 36px;
  background-color: rgba(1, 1, 1, 0.8);
  /* Navbar shadows shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;

  }


nav ul {
  
  list-style: none;
  overflow: hidden;
  background: transparent;
  margin-top: 1px;
}

nav ul li a {

  display: block;
}


nav ul li:hover > ul {

  display: block;

}

nav ul li {
  
  display: inline-block;
  }

 
nav li a {
  
  width: 100px;
  height: 28px;
  font-size: 14px;
  margin-right: 50px;
  margin-top: -2px;
  text-align: center;
  font-family:'Open Sans', Helvetica, Arial, sans-serif; /* pick a font */
}


nav a:link { color: white; }
nav a:visited { color: white;}
nav a:hover {background-color: rgba(1, 1, 1, 0.7); }
nav a:active { color: orange; }


nav li:first-child a {

  width: 200px;
  height: 34px;
  font-size: 22px;
  background-color: black; 
  font-weight: bold;
  margin-left: 20px;
  color: #fff;

  } 

nav li:nth-child(2) a { margin-left: 200px; }

nav .logo a:link {color: white; }
nav .logo a:visited {color: white; }
nav .logo a:hover {background-color: rgba(1, 1, 1, 0.7); } 
nav .logo a:active {background-color: rgba(1, 1, 1, 0.7); } 

/* link transition - debug */


/* Contact Page */


#contact-page {

  width: 100%;
  height: 500px;
  /* background-color: #ededed; */

background: rgb(184,208,216); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNyUiIHN0b3AtY29sb3I9IiNiOGQwZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjJmNWY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(184,208,216,1) 37%, rgba(242,245,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,rgba(184,208,216,1)), color-stop(100%,rgba(242,245,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(184,208,216,1) 37%,rgba(242,245,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(184,208,216,1) 37%,rgba(242,245,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(184,208,216,1) 37%,rgba(242,245,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(184,208,216,1) 37%,rgba(242,245,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8d0d8', endColorstr='#f2f5f7',GradientType=0 ); /* IE6-8 */

}

.indexCard {

  width: 500px;
  height: 300px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -250px;

}

.shadow {
-webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

/* .shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
} */

.indexContent {

  display: inline-block;
  padding: 40px;

}

.indexBody h1 {

  color: #222;
  font-size: 30px;
  line-height: 1.0em;
}

.indexBody h2 {

  color: #222;
  font-size: 20px;
  line-height: 1.4em;
}

.indexBody li h3 {

  color: #222;
  font-size: 18px;
  line-height: .5em;
}

.indexBody li h4 {

  color: #222;
  font-size: 18px;
  line-height: .5em;
}

.indexTop h2 {

  background-color: #f4f486;
}



