---
layout: nofooter
title: Blog
---
<div id="blog" class="blog-wrapper">
  <section>
    <div class="banner">
      <h1>Blog</h1>
    </div>
  </section>
  <section id="featured" class="col-6">   
      <h1>Posts</h1>
    <ol class="posts">
    {% for post in site.posts %}
    {% if post.category == "blog" %}
      <li>
      <div class="title">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      </div>
    </li>
      {% endif %}  
      {% endfor %}
    </ol>
  </section>

    <section id="extras">
      <div class="bookmarks">
        <h2>Bookmarks</h2>
        <ul>
          <li><h3>Sundry Resources</h3></li>
          <li><a href="http://nexus.od.nih.gov/all/rock-talk/" rel="external">NIH's 'Rock Talk'</a></li>
          <li><a href="#" rel="external">American Medical Writers Assoc</a></li> 
          <li><a href="#" rel="external">Smashing Magazine</a></li>  
          <li><a href="#" rel="external">W3C</a></li> 
          <li><a href="#" rel="external">Wordpress</a></li> 
          <li><a href="#" rel="external">Wikipedia</a></li>  
          <li><a href="#" rel="external">HTML5 Doctor</a></li>
          <li><h3>Favorites</h3></li>
          <li><a href="http://retractionwatch.wordpress.com/" rel="external">Retraction Watch</a></li> 
          <li><a href="#" rel="external">Smashing Magazine</a></li>  
          <li><a href="#" rel="external">W3C</a></li> 
          <li><a href="#" rel="external">Wordpress</a></li> 
          <li><a href="#" rel="external">Wikipedia</a></li>  
          <li><a href="#" rel="external">HTML5 Doctor</a></li> 
          <li><a href="#" rel="external">HTML5 Spec (working draft)</a></li> 
          <li><a href="#" rel="external">Smashing Magazine</a></li>  
          <li><a href="#" rel="external">W3C</a></li> <li><a href="#" rel="external">Wordpress</a></li> 
          <li><a href="#" rel="external">Wikipedia</a></li> 
        </ul> 
      </div><!-- /.social --> 
    </section><!-- /#extras -->
</div>
