<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>{% if page.title %} {{ page.title }} | {% endif %} Leopold Writing</title>
	<meta name="author" content="Caroline Leopold">
	<meta name="description" content="Leopold Writing website v 0.2">
	<script type="text/javascript" src="//use.typekit.net/guv4ckm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">

<!-- IE Fix for HTML5  -->
	<!--[if lt IE 9]>
<script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
	<header>
		<nav id="navigation" class="topbar"> 
			<ul>
				<li class="first logo"><a class="active" href="/">&#x2632; Leopold &#x2632;</a></li>
				<li><a href="./about.html">About</a></li>
				<li><a href="./work.html">Portfolio</a></li>
				<li><a href="./blog.html">Blog</a></li>
				<li class="last"><a href="./contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
					{{content}}
	<footer>
		<section class="box">
			<div class="contact col-4">
				<h4>Business Information</h4>
				<p>Leopold Writing</p>
				<p>Licensed business, based in Philadelphia, PA</p>
				<p>Tel: 610.220.7863</p> 
				<p>Email: leopoldwriting@gmail.com <a href="mailto:leopoldwriting@gmail.com">Send email now.</a></p>
			</div>
		<div class="col-2">
			<h3>Social</h3>
			<ul class="social"> 
				<li><img href="http://linkedin.com/in/cleopold" src="http://placehold.it/32x32" alt="LinkedIn" /></li>
				<li><img href="http:twitter.com/caroline815" src="http://placehold.it/32x32" alt="Twitter" /></li>
				<li><img href="http://carolineleopold.com" src="http://placehold.it/32x32" alt="Wordpress" /></li>
				<li><img href="http://github.com/cml815" src="http://placehold.it/32x32" alt="Github" /></li>
				<li><img href="http://reddit.com/u/sky_writer" src="http://placehold.it/32x32" alt="Reddit" /></li>
			</ul>
		</section>	
		<section class="small-print col-12">
			<p>&copy;2013 Caroline Leopold - All Rights Reserved | Materials cited on the website retain the copyrights of their respective owners.</p>
		</section>
	</footer>
</body>
</html>
